/* src/components/Projects.css */
.projects {
    padding: 2rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    position: relative;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .5s ease-in-out,transform 0.5s ease-in-out;
  }
  
  .project-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-8px);
  }
  
  .project-image {
    margin: 20px;
    width: 40%;
    height: auto;
  }
  
  .project-info {
    padding: 1rem;
  }
  
  .project-info h3 {
    margin-bottom: 0.5rem;
  }
  
  .project-info p {
    color: #555;
    font-size: 0.9rem;
  }
  