/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  transition: transform 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  display: flex; /* Align icon and text horizontally */
  align-items: center; /* Center vertically */
  margin: 0 1rem; /* Add spacing between links */
}

.navbar a:hover {
  transform: translateY(-7px);
}

.menu-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.menu-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.3s ease-in-out;
}

.menu-icon::before,
.menu-icon::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.3s ease-in-out;
}

.menu-icon::before {
  transform: translateY(-8px);
}

.menu-icon::after {
  transform: translateY(5px);
}

.menu-icon.open {
  background-color: transparent;
}

.menu-icon.open::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (min-width: 601px) {
  .menu-button {
    display: none; /* Hide button on larger screens */
  }

  .navbar {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none; /* Hide navbar by default */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%; /* Position below the header */
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
  }

  .navbar.open {
    display: flex; /* Show navbar when menu is open */
  }
}
